<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <a href="https://www.facebook.com/profile.php?id=100005107668320">Visit developers profile</a>
  </body>
</html>
